:root {
    --primary-font: "Poppins";
    --primary-font-color: #666666;
    --secondary-font-color: #2c2f2e;

    --home-background-color: #eff1ef;
    --home-primary-color: #006a28;
    --home-impact-primary-gradient: linear-gradient(
        -144deg,
        #5cfd80 0%,
        #006a28 100%
    );

    --feature-background-color: rgba(231, 236, 239, 0.25);
    --history-items-background-color: rgba(183, 228, 199, 0.5);

    --feature-video-icon-color: #004c71;
    --feature-video-icon-background: rgba(167, 215, 255, 0.3);

    --feature-pickup-icon-color: #00534d;
    --feature-pickup-icon-background: rgba(127, 230, 219, 0.6);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    color: var(--primary-font-color);
}

/* Typography */

a {
    text-decoration: none;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
}

/* Default styles */

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

label {
    margin-bottom: 0px;
}

input {
    border: 1px solid lightgray;
    font-size: 1em;
    font-weight: 600;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 1.2em;
}

input:hover,
input:focus {
    cursor: pointer;
    box-shadow: 0 0 10px #e9edc9;
    transition: box-shadow 0.2s ease-in-out;
}

/* Button Styles */

.btn {
    cursor: pointer;
    border-radius: 25px;
    font-size: 1em;
    border: none;
}

.btn:hover {
    box-shadow: 0 0 5px darkgray;
    transition: box-shadow 0.3s ease-in-out;
}

.btn,
input {
    padding: 0.6em;
}
