{% extends 'layout.html' %} {% block content %}

<header>
    <nav>
        <a href="{{url_for('signup')}}">Create an Account</a>
    </nav>
</header>

<section>
    <div class="login-form-wrapper">
        <div class="login-header">
            <div class="login-circle"></div>
            <h3>Log in</h3>
        </div>

        <form id="login-form">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required />

            <label for="password">Password</label>
            <input type="password" name="password" id="password" required />

            <button class="btn" id="login-submit-btn" type="submit">
                Log in
            </button>
        </form>
    </div>
</section>
{% endblock %} {% block scripts %}
<script
    type="module"
    src="{{url_for('static', path = 'js/login.js')}}"
></script>
{% endblock %}
