{% extends "layout.html" %} {% block stylesheets %}
<link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', path='css/video.css') }}"
/>
{% endblock %} {% block content %}

<section class="video-upload-section">
    <div class="video-upload-form-wrapper">
        <form class="video-upload-form" id="video-upload-form">
            <input
                type="file"
                name="video"
                id="video"
                accept="video/*"
                required
                hidden
            />
            <h4>Dispose & Earn</h4>
            <label for="video">
                <div class="video-form-display">
                    <div class="video-form-submit-logo">
                        <i class="fa-solid fa-file-arrow-up"></i>
                    </div>
                    <div class="video-form-description">
                        <h4 class="video-form-heading">Tap to select</h4>
                        <div class="video-form-file-wrapper">
                            <p>MP4 only</p>
                            <div>
                                <p>|</p>
                            </div>
                            <p>Max 50MB</p>  
                        </div>
                    </div>
                </div>
            </label>
        </form>
    </div>
</section>

<section class="result-analysis-section">
    <div class="result-analysis-heading">
        <h4>AI Analysis Result</h4>
        <div class="result-analysis-verified-wrapper">
            <div class="verified-icon-container">
                <i class="fa-solid fa-certificate dark-green"></i>
                <i class="fa-solid fa-check lime-green"></i>
            </div>
            <h5 class="dark-green">VERIFIED DISPOSAL</h5>
        </div>
    </div>


    
</section>

{% endblock %} {% block scripts %}
<script
    type="module"
    src="{{url_for('static', path = 'js/video.js')}}"
></script>
{% endblock %}
